<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bumerang.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
				<key>dateExpires</key>
				<string>21.03.2021</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ALLoadingView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppstoreTransition.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CHIPageControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FanMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GDCheckbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Macaw.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImageFLPlugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SWXMLHash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyStoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyUserDefaults.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>UPCarouselFlowLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76666B04EF1EC6EAED427CA64DD472E1264A22FD</string>
						<key>dateExpires</key>
						<string>21.03.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>988UH8C3RL</string>
						<key>name</key>
						<string>Berk Avcı</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>988UH8C3RL.com.berkapp.bumerang</string>
				<key>com.apple.developer.team-identifier</key>
				<string>988UH8C3RL</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>bumerang.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5d5c297f-4985-4789-a30d-b435dcdcf194</string>
				<key>name</key>
				<string>developmentsProfile032001</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>988UH8C3RL</string>
				<key>name</key>
				<string>Berk Avcı</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
